*~
*.lo
*.o
*.swp
.deps
.dirstamp
/ABOUT-NLS
/INSTALL
/Makefile
/Makefile.in
/libtool
/build/
/openldap/
/openldap-*.*.*.tgz
/openldap-*.*.*/
a.out
aclocal.m4
autom4te.cache
autoscan.log
config.h
config.h.in
config.log
config.status
configure
configure.scan
stamp-h1
